<img style="float: left;;" src='Figures/iteso.jpg' width="100" height="200"/></a>

# <center> <font color= #000047> 4.- Codificación con base en la media </font> </center>

In [1]:
import pandas as pd
import numpy as np


data=pd.read_csv('temps.txt',sep='\s+',header=None) # Fuente: http://astro.iam.udg.mx/Estacion/NOAAPRMO.TXT
                                                         #         http://astro.iam.udg.mx/Estacion/NOAAMO.TXT
data.columns=['Temperatura máxima','Temperatura mínima','HDD','CDD','Rain']
d=['Sábado','Domingo','Lunes','Martes','Miércoles','Jueves','Viernes']
dias=[d[i%7] for i in range(len(data))]
catego=['Soleado','Mayormente soleado','Parcialmente nublado','Mayormente nublado','Nublado','Lluvioso']
prono=[catego[-1] if data['Rain'][i]>0 else catego[int(round(1.2*(data['HDD'][i]-data['CDD'][i])+2))] for i in range(len(data))]
df=pd.DataFrame(columns=['Días','Pronóstico','Temperatura máxima','Temperatura mínima'],index=range(len(data)))
df.iloc[:,2:4]=data.iloc[:,0:2]
df['Días']=dias
df['Pronóstico']=prono
df.head()

        Días            Pronóstico Temperatura máxima Temperatura mínima
0     Sábado  Parcialmente nublado               28.2               11.2
1    Domingo  Parcialmente nublado               29.1               10.7
2      Lunes    Mayormente nublado               26.1               10.4
3     Martes    Mayormente soleado               29.4               11.1
4  Miércoles    Mayormente soleado               29.8               11.1

In [2]:
#Codificando a traves del promedio

Pronóstico
Lluvioso                12.850000
Mayormente nublado      10.683333
Mayormente soleado      11.435714
Nublado                  9.500000
Parcialmente nublado    11.261111
Soleado                 11.800000
Name: Temperatura mínima, dtype: float64

,Días,Pronóstico,Temperatura máxima,Temperatura mínima,Promedio
0,Sábado,Parcialmente nublado,28.2,11.2,11.261111
1,Domingo,Parcialmente nublado,29.1,10.7,11.261111
2,Lunes,Mayormente nublado,26.1,10.4,10.683333
3,Martes,Mayormente soleado,29.4,11.1,11.435714
4,Miércoles,Mayormente soleado,29.8,11.1,11.435714

In [4]:
#Codificando a través de la codificación de Efectos

,Días,Temperatura máxima,Temperatura mínima,Promedio,Mayormente nublado,Mayormente soleado,Nublado,Parcialmente nublado,Soleado
0,Sábado,28.2,11.2,11.261111,0,0,0,1,0
1,Domingo,29.1,10.7,11.261111,0,0,0,1,0
2,Lunes,26.1,10.4,10.683333,1,0,0,0,0
3,Martes,29.4,11.1,11.435714,0,1,0,0,0
4,Miércoles,29.8,11.1,11.435714,0,1,0,0,0

'Lluvioso'

,Días,Temperatura máxima,Temperatura mínima,Promedio,Mayormente nublado,Mayormente soleado,Nublado,Parcialmente nublado,Soleado
17,Martes,27.9,11.5,12.85,-1,-1,-1,-1,-1
44,Lunes,26.6,14.2,12.85,-1,-1,-1,-1,-1

In [7]:
# Regresión lineal
from sklearn.linear_model import LinearRegression

LinearRegression()

In [11]:
#mapeo de Categorías con coeficientes de la regresión lineal

{'Mayormente nublado': -0.5716931216931218,
 'Mayormente soleado': 0.1806878306878308,
 'Nublado': -1.7550264550264554,
 'Parcialmente nublado': 0.00608465608465564,
 'Soleado': 0.5449735449735462}

In [12]:
#Mapeo de la categoria de referencia con la intercepción

{'Mayormente nublado': -0.5716931216931218,
 'Mayormente soleado': 0.1806878306878308,
 'Nublado': -1.7550264550264554,
 'Parcialmente nublado': 0.00608465608465564,
 'Soleado': 0.5449735449735462,
 'Lluvioso': 11.255026455026455}

,Días,Pronóstico,Temperatura máxima,Temperatura mínima,Promedio,P_Efectos
0,Sábado,Parcialmente nublado,28.2,11.2,11.261111,0.006085
1,Domingo,Parcialmente nublado,29.1,10.7,11.261111,0.006085
2,Lunes,Mayormente nublado,26.1,10.4,10.683333,-0.571693
3,Martes,Mayormente soleado,29.4,11.1,11.435714,0.180688
4,Miércoles,Mayormente soleado,29.8,11.1,11.435714,0.180688

### ¿Cuál es la mejor metodología con datasets con alta cardinalidad?

Cuando se trabaja con variables categóricas de alta cardinalidad (muchas categorías únicas), las metodologías tradicionales como One-Hot Encoding pueden generar matrices muy grandes y dispersas, lo que afecta el rendimiento y la eficiencia del modelo.

**Las mejores alternativas suelen ser:**

- **Codificación en base a la media:** Es eficiente y no aumenta la dimensionalidad, pero debe usarse con técnicas de regularización o validación cruzada para evitar sobreajuste.
- **Codificación en base a conteo (frecuecnia):** Reemplaza cada categoría por su frecuencia o conteo en el dataset. Es simple y útil para modelos basados en árboles.

**Recomendación:**

- Usar codificación por media o frecuencia para modelos tradicionales.
- Siempre validar el riesgo de sobreajuste y aplicar regularización o validación cruzada.